sudo: false

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

language: groovy

jdk:
- oraclejdk8
- openjdk8

env:
- TERM=dumb

install: true

before_script:
  - ./gradlew --version

script:
  - ./gradlew test jacocoTestReport coveralls
