[project]
	description = Spring Boot jade4j Starter
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Domingo Suarez Torres (domix)
[access "refs/for/refs/*"]
	read = group user/Domingo Suarez Torres (domix)
	push = group user/Domingo Suarez Torres (domix)
	label-Code-Review = -2..+2 group user/Domingo Suarez Torres (domix)
	label-Verified = -1..+1 group user/Domingo Suarez Torres (domix)
	rebase = group user/Domingo Suarez Torres (domix)
	removeReviewer = group user/Domingo Suarez Torres (domix)
	submit = group user/Domingo Suarez Torres (domix)
[access "refs/heads/*"]
	read = group user/Domingo Suarez Torres (domix)
	create = group user/Domingo Suarez Torres (domix)
	push = +force group user/Domingo Suarez Torres (domix)
	pushMerge = group user/Domingo Suarez Torres (domix)
[access "refs/tags/*"]
	push = +force group user/Domingo Suarez Torres (domix)
	pushTag = group user/Domingo Suarez Torres (domix)
	pushSignedTag = group user/Domingo Suarez Torres (domix)
